/* =Root variables
-------------------------------------------------------------- */
:root {
	--primary-color-spacer: #eee;
	--wrapper-width: 1000px;
	--mobile-width: 90%;
	--mobile-padding: calc((100% - var(--mobile-width)) / 2);
	--white: #fff;
	--very-light-grey: #f4f4f4;
	--light-grey: #ccc;
	--lightish-grey: #ddd;
	--grey: #999;
	--dark-grey: #333;
	--black: #000;

	--primary-color-base: #1483c8;
	--primary-color-highlight: #137fbf;
	--primary-color-shadow: #0e5a8a;
	--primary-color-link: #0e5a8a;
	--primary-color-top: #1275b5;
	--primary-color-spacer-accent: #1278b8;
	--colored-background: radial-gradient(circle at center 150%, var(--primary-color-shadow) 0%, var(--primary-color-base) 110%, rgba(0,0,0,0.2) 100%);
	--icon-glow: drop-shadow(0 0 8px rgba(0,0,0,0.2)) drop-shadow(0 0 16px rgba(0,0,0,0.2)) drop-shadow(0 0 24px rgba(0,0,0,0.2));
	--button-glow: drop-shadow(0 0 8px rgba(0,0,0,0.1)) drop-shadow(0 0 16px rgba(0,0,0,0.1)) drop-shadow(0 0 24px rgba(0,0,0,0.1));
	--image-glow: drop-shadow(0 0 2px rgba(0,0,0,0.1)) drop-shadow(0 0 4px rgba(0,0,0,0.1)) drop-shadow(0 0 6px rgba(0,0,0,0.1));
}

body {
	background: var(--white);
}

/* =Fonts
-------------------------------------------------------------- */
@font-face {
	font-family: "Open Sans";
	font-weight: 100 800;
	font-style: normal;
	font-display: optional;
	src: url('../fonts/open-sans.woff2') format('woff2');
}

/* =General
-------------------------------------------------------------- */
body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	min-height: 100vh;
	word-wrap: break-word;
}

.wrapper {
	width: 100%;
	max-width: var(--wrapper-width);
	margin: 0 auto;
}

/* =Accessibility
-------------------------------------------------------------- */
.hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

/* =Header
-------------------------------------------------------------- */
header {
	.wrapper {
		position: relative;
		margin-top: 6rem;
	}

	.header-avatar {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 45%;
		height: auto;
		object-fit: contain;
		object-position: bottom right;
		z-index: 0;
	}

	h1 {
		width: 70%;
		font-size: 6rem;
		line-height: 6rem;
		margin: 3rem 0 4rem;
		position: relative;
		z-index: 1;
	}

	p {
		width: 60%;
		margin: 6rem 0 2rem;
		font-size: 2rem;
		line-height: 3rem;
		position: relative;
		z-index: 1;
	}
}

#primary-menu .title {
	opacity: 0;
}

header {
	display: flex;

	h1 {
		width: 100%;
		display: block;
		position: relative;
		color: var(--white);
		font-size: 4rem;
		line-height: 4rem;
		font-weight: 700;
		margin: 7rem 0 4rem;
		text-shadow: 0 0.1rem 0.6rem rgba(0,0,0,0.3);
	}

	p {
		margin: 0 0 6rem;
		font-size: 1.6rem;
		line-height: 2.4rem;
		font-weight: 100;
		color: var(--white);
		text-shadow: 0 0.05rem 0.3rem rgba(0,0,0,0.3);
	}

		.button {
			margin-bottom: 6rem;
			position: relative;
			z-index: 1;
		}

	fieldset {
		border: none;
		margin: 0;
		padding: 0;
	}
	
	legend {
		border: none;
		padding: 0;
		margin: 0;
	}

	form {
		margin-top: 4rem;
		margin-bottom: 4rem;
		display: flex;
		align-items: flex-start;

		p {
			display: inline-block;
			margin: 0;

			&:first-of-type {
				width: 100%;
			}

			&:last-of-type {
				width: auto;
				margin-left: 3rem
			}

			input {
				width: calc(100% - 2rem);
			}

			label {
				color: var(--white);
				top: -2.5rem;				
			}
		}
	}
}

/* =Main Menu
-------------------------------------------------------------- */
@keyframes menuBackgroundTransition {
	0% {
	background: transparent;
	}
	15% {
	background: var(--primary-color-top);
	}
	100% {
	background: var(--primary-color-base);
	}
}

#primary-menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 3.5rem;
	background: transparent;
	transition: background 0.2s, box-shadow 0.2s;
	align-items: center;

	.wrapper {
		display: flex;
		justify-content: space-between;		
	}

	.title {
		opacity: 1;
		margin: 0.75rem 0 0;
		padding: 0;
		font-size: 2rem;
		color: var(--white);
		font-weight: 700;
		line-height: 2rem;
		text-shadow: 0 0.05rem 0.3rem rgba(0,0,0,0.3);
		transition: 0.25s;

		small {
			display: block;
			font-size: 0.7rem;
			line-height: 0.9rem;
			font-weight: 100;
			text-transform: uppercase;
			letter-spacing: 0.37rem;
		}

		&:hover {
			text-decoration: none;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		display: flex;
		list-style: none;
		align-items: center;
	}

	li {
		color: var(--white);
		font-size: 0.9rem;
		font-weight: 400;
		text-transform: uppercase;
		text-shadow: 0 0.05rem 0.3rem rgba(0,0,0,0.3);
		height: 3.5rem;

		a[href*="/search/"] {
			font-size: 0;

			&::before {
				display: inline-block;
				margin-top: 0.5rem;
				content: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 512' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='1em' height='1em'%3E%3Cpath fill='%23fff' fill-rule='evenodd' clip-rule='evenodd' d='M208 48c-88.366 0-160 71.634-160 160s71.634 160 160 160 160-71.634 160-160S296.366 48 208 48zM0 208C0 93.125 93.125 0 208 0s208 93.125 208 208c0 48.741-16.765 93.566-44.843 129.024l133.826 134.018c9.366 9.379 9.355 24.575-.025 33.941-9.379 9.366-24.575 9.355-33.941-.025L337.238 370.987C301.747 399.167 256.839 416 208 416 93.125 416 0 322.875 0 208z'/%3E%3C/svg%3E");
			}
		}

		&:has(> ul) {
			position: relative;
		}

		&.search,
		&:has(> ul),
		a {
			display: block;
			padding: 0 1rem;
			height: 3.5rem;
			line-height: 3.5rem;
			color: var(--white);
			text-decoration: none;
		}

		&:focus-within,
		&:hover {
			background: var(--primary-color-highlight);
			cursor: pointer;

			ul {
				left: 0;
			}

			form {
				left: 0;
			}
		}

		ul {
			display: block;
			position: absolute;
			left: -999em;
			background: rgba(0,0,0,0.6);
			width: 200px;
			box-shadow: 0 0.3rem 1rem rgba(0,0,0,0.2);

			li,
			li a {
				width: 100%;
				height: auto;
				line-height: auto;
			}
		}

		form {
			position: absolute;
			left: -999em;
			background: var(--white);
			width: 90%;
			padding: 5%;
		}
	}

	.scrolled & {
		background: var(--primary-color-base);
		box-shadow: 0 0 1rem rgba(0,0,0,0.2);

		.title {
			opacity: 1;
		}
	}

	.scrolled.home & {
		.title {
			opacity: 1;
		}
	}
}

/* =Content sections
-------------------------------------------------------------- */
.primary,
.secondary,
body main {
	.button {
		display: block;
		width: fit-content;
		margin: 0 auto;
	}
}

.primary,
.secondary {
	width: 100%;
	padding: 6rem 0;

	.button {
		display: block;
		width: fit-content;
		margin: 0 auto;
	}
}

main {

	section {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}

	.button {
		display: block;
		width: fit-content;
		margin: 0 auto;
	}
}

/* =General elements
-------------------------------------------------------------- */

a {
	color: var(--primary-color-link);
	text-decoration: none;

	&:hover {
		color: var(--primary-color-highlight);
		text-decoration: underline;
	}
}

h1,
h2,
h3 {
	width: 100%;
	max-width: var(--wrapper-width);
	margin: 0 auto;
	padding: 0;
	color: var(--black);
	font-weight: 700;
	font-family: "Open Sans", sans-serif;
}

h1 {
	line-height: 6rem;
	font-size: 6rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

h2 {
	font-size: 4rem;
	margin-top: 4rem;
	margin-bottom: 1rem;
}

h3 {
	font-size: 2.5rem;
	margin-top: 4rem;
	margin-bottom: 1rem;
}

p {
	margin: 0rem 0 2rem;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 2rem;
	color: var(--black);
	font-family: "Open Sans", sans-serif;
}

ul {
	list-style: disc;
}

ul,
ol {
	display: block;
	margin: 0;

	li {
		margin: 0 0 1rem;
		font-weight: 400;
		font-size: 1.2rem;
		line-height: 1.4rem;
	}
}

address {
	color: var(--dark-grey);
	font-size: 2rem;
	line-height: 3rem;
	font-style: normal;
}

blockquote {
	margin: 4rem 0;
	padding: 2rem 3rem;
	background: var(--very-light-grey);

	p {
		margin: 0;
		color: var(--dark-grey);
		font-size: 2rem;
		line-height: 3rem;
	}

	cite {
		color: var(--dark-grey);
		font-size: 1.4rem;
		line-height: 1.8rem;
	}
}

form {
	p {
		position: relative;
	}
}

fieldset {
	width: 100%;
}

fieldset,
legend {
    border: none;
    margin: 0;
    padding: 0;
}

label {
	position: absolute;
	left: 0;
	top: -1.7rem;
	display: block;
	width: 50%;
	font-size: 0.8rem;
	font-weight: 400;
	color: var(--grey);
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	opacity: 0;
	transition: opacity 0.25s;
}

input {
	padding: 1rem;
	width: 50%;

	& + label {
		width: 50%;
	}
}

textarea {
	width: 90%;
	min-height: 6rem;
	min-height: 6rem;
	color: var(--dark-grey);

	& + label {
		width: 100%;
	}
}

input,
textarea {
	border: 1px solid var(--light-grey);
	padding: 1rem;
	font-family: "Open Sans", sans-serif;
	font-weight: 100;
	font-size: 1.2rem;
	color: var(--dark-grey);
	box-shadow: 0 0 1rem rgba(0,0,0,0.05);

	&:focus-within + label {
		opacity: 1;
		
	}
}

input[type=submit],
button,
.button {
	display: inline-block;
	background: var(--primary-color-link);
	margin: 0;
	padding: 1rem 4rem;
	color: var(--white);
	border: none;
	border-bottom: var(--primary-color-shadow);
	text-decoration: none;
	transition: 0.25s;
	font-weight: 600;
	font-size: 1.2rem;
	filter: var(--image-glow);
	border-radius: 1rem;

	&[type=submit] {
		font-weight: 400;
		width: auto;

		&:hover {
			cursor: pointer;
		}
	}

	&:focus-within,
	&:hover {
		cursor: pointer;
		transform: scale(1.05);
		background: var(--primary-color-highlight);
		color: var(--white);
		text-decoration: none;
		filter: var(--button-glow);
	}
}

img {
	max-width: 100%;
	height: auto;
}

.aligncenter {
	margin-right: auto;
	margin-left: auto;
	text-align: center;

	*,
	* * {
		margin-right: auto;
		margin-left: auto;
	}
}

.alignright {
	float: right;
	margin-left: 2rem;
}

.alignleft {
	float: left;
	margin-right: 2rem;
}

/* =Block schemes
-------------------------------------------------------------- */

.neutral {
	background: var(--very-light-grey);
	background: radial-gradient(circle, var(--lightish-grey) 0%, var(--white) 53%, rgba(0,0,0,0.2) 100%);
}

.accent {
	background: var(--colored-background);

	h1,
	h2,
	h3,
	p {
		color: var(--white);

		a {
			color: var(--white);
		}
	}

	.button {
		background: var(--white);
		color: var(--black);

		&:focus-within,
		&:hover {
			background: var(--white);
			color: var(--black);
		}
	}
}

/* =Footer
-------------------------------------------------------------- */
#footer {
	width: 100%;
	display: flex;
	padding: 3rem 0 1rem;
	text-align: center;

	h3 {
		margin-bottom: 0;
	}

	p {
		opacity: 0.7;
	}

	.legal-crap {
		font-size: 0.9rem;
		margin: 0;

		a {
			line-height: 1rem;
			display: inline-block;
			border-left: 1px solid var(--white);
			padding: 0 0.5rem;

			&:first-child {
				margin-left: 0.5rem;
			}
		}
	}
}

/* =Mobile support
-------------------------------------------------------------- */

@media (max-width: 1024px) {
	#primary-menu {
		.title {
			margin-left: 1rem;
		}

		nav {
			position: fixed;
			top: 0.3rem;
			right: 0.5rem;
			cursor: pointer;

			&::before {
				display: block;
				content: "☰";
				color: var(--white);
				font-size: 2.5rem;
				transition: color 0.3s ease, transform 0.3s ease;
			}

			&.active::before {
				content: "×";
				font-size: 3.5rem;
				margin-top: -0.8rem;
				margin-right: 0.1rem;
			}

			/* First level */
			ul {
				top: 0;
				z-index: -1;
				padding-top: 2rem;

				li {
					margin-bottom: 0;
				}
			}

			&.active {
				ul {
					left: 10%;
				}
			}
		}

		ul {
			position: fixed;
			top: 4.5rem;
			left: 100%;
			width: 90%;
			height: calc(100vh - 2rem);
			background: var(--dark-grey);
			flex-direction: column;
			justify-content: flex-start;
			align-items: stretch;
			transition: left 0.3s ease;
			overflow-y: auto;
		}

		li {
			width: 100%;
			height: auto;
			border-bottom: 1px solid rgba(255, 255, 255, 0.5);

			&.search,
			&:has(> ul),
			a {
				padding: 2rem;
				height: auto;
				line-height: 1.5;
				display: block;
			}
		}
	}

	header {
		.wrapper {
			position: relative;
			margin-top: 6rem;
		}

		.header-avatar {
			right: 10%;
			width: 80%;
		}
	}

	header {
		height: 100vh;

		.wrapper {
			width: var(--mobile-width);
			padding-right: var(--mobile-padding);
			padding-left: var(--mobile-padding);

			body.error-404 &,
			body.home & {
				margin-top: 3rem;
			}

			.header-avatar {
				border: 2px dashed blue;
				width: 80%;
				left: 50%;
				transform: translateX(-50%);
				right: auto;
			}
		}

		h1,
		p {
			width: 100%;

			body.error-404 &,
			body.home & {
				margin: 0;
				width: 100%;
			}
		}

		h1 {
			body.error-404 &,
			body.home & {
				font-size: 3rem;
				line-height: 3rem;
			}
		}

		p {
			margin-top: 2rem;
			font-size: 2.5rem;
			line-height: 3rem;

			body & {
				margin-top: 2rem;
				font-size: 1.5rem;
				line-height: 2.5rem;
			}
		}

		.button {
			margin-top: 2rem;
			margin-bottom: 0;
		}
	}

	body {

		header {
			height: auto;

			.wrapper {
				background: none;
			}

			form {
				display: block;

				p:last-of-type {
					margin-top: 2rem;
					margin-left: 0;
				}
			}
		}
	}

	.primary {
		width: var(--mobile-width);
		padding: 3rem var(--mobile-padding) 3rem;
	}

	header h1,
	h1 {
		line-height: 3rem;
		font-size: 3rem;
	}

	h2 {
		font-size: 2rem;
	}

	h3 {
		font-size: 1.25rem;
	}

	#footer {
		padding-top: 0;
		padding-bottom: 0;

		h3 {
			margin-top: 2.5rem;
			font-size: 2rem;
		}

		ul {
			gap: 0.5rem;
			margin: 0rem 0;

			a {
				&::before {
					width: 30px;
					height: 30px;
					transform: scale(0.75);
				}

			}
		}

		.legal-crap {
			margin: 0 0 1rem;

			span {
				display: block;
				line-height: 1rem;

				a:first-child {
					border-left: none;
					margin-left: 0;
				}
			}
		}
	}
}
